%ul.dropdown-menu.pull-left
  - if current_user
    - org_id = (controller.controller_name == 'organizations' && !params[:id] && !params[:organization_id]) ? current_user.organization_id : (params[:organization_id] || params[:id] || current_user.organization_id)
    %li
      - if can? :index, UserGroup
        %a.glyphicons.pie_chart{href: organization_user_groups_path(org_id)} 
          %i
          Overview
    %li
      - if can? :index, User
        %a.glyphicons.book_open{href: organization_user_groups_path(org_id)} 
          %i
          Change Title

    %li
      - if can? :index, User
        %a.glyphicons.user{href: organization_user_groups_path(org_id)} 
          %i
          Personnal Description